/* css reset */

*{
    /* margin: 0; */
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* browser */


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(195, 195, 195);
    color: gray;
}

.card{
    width: 300px;
    height: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: -45px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray, -5px -5px 5px white;
}

.profileImage{
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid rgb(191, 191, 191);
    box-shadow: 2px 2px 2px gray, -2px -2px 2px white;
}

.profleName{
font-weight: 600px;
line-height: 30px;
margin-bottom: -5px;
color: black;
}

.profileDetail{
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(39, 61, 87);
    
}

.topSection{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.socialMedia{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.socialMedia i{
    font-size: 30px;
}

.socialMedia i:first-child{
    color: blue;
}

.socialMedia i:last-child{
    color: red;
}

.socialMedia i:nth-child(2){
    color: green;
}

.socialMedia i:nth-child(3){
    color: rgb(255, 147, 165);
}

.myBtn{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myBtn button{
    padding: 5px 15px;
    margin-bottom: 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray, -5px -5px 5px white;
    
}



.LikeAndComment{
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 20px;
    margin-left: 20px;
}
.LikeAndComment div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-right: solid #333030;
    padding-right: 30px;
}

